In [ ]:
l=[]
q=0
w=0

n=int(input())

for i in range(n):
        name = input()
        score = float(input())
        l.append([name,score])
for j in l:
    if l[q][w]==min(l[q][w]):
        l.pop(l[q][w])
print(l)

In [ ]:
print today

In [ ]:
import datetime
today=datetime.date.today()
print (today)

In [ ]:
import timeit

In [ ]:
timeit.timeit('"-".join(str(n) for n in range(100))', number=1000)

In [ ]:
l=[]
q=0
w=0

n=int(input())

for i in range(n):
        name = input()
        score = float(input())
        l.append([name,score])
        for o in l:
            
        q=min(l[]

In [ ]:
l=[]
a=[]
q=0
w=0

n=int(input())

for i in range(n):
        name = input()
        score = float(input())
        l.append([name,score])
        
for o in l:
    l.sort(reverse=False)

print(l)

In [ ]:
d={}
n=int(input())


for i in range(n):
    name = input()
    score = float(input())
    name=d.keys()
    score=d.values()
    
print (d)

In [ ]:
import math

n = int(input())
student_marks = {}
for i in range(n):
    if 2<=n<=10:
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
query_name = input()

if query_name in student_marks:
    
        avg=((sum(scores))/3)
       
        print (avg)

In [ ]:
def minion_game(string):
    scores=0
    scorek=0
    l=[]
    n=2
    
    for i in string:
        if i not in ('AEIOU'):
            scores+=1
            
            
        elif i in ('AEIOU'):
            scorek+=1
    for a in range(0, len(string),n):
        b=string[a:a+n]
        l.append(b)
            if l[]
            
    print(scores)
    print(scorek)
    print(l)

In [ ]:
minion_game('BANANA')

In [ ]:
n=int(input())
def print_formatted(number):
    # your code goes here
    for i in range(n):
        if 1<=n<=99:
            print(n+" "+oct(n)+" "+hex(n).upper()+" "+bin(n))

In [ ]:
def split_and_join(line):
    # write your code here
    a=line.split(" ")
    b="-".join(a)
    return b

if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

In [ ]:
thickness = int(input()) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print((c*i).rjust(thickness-1," ")+c+(c*i).ljust(thickness-1," "))

In [ ]:
thickness = int(input()) #This must be an odd number
c = 'H'

#Top Cone
for i in range(thickness):
    print((c*i).rjust(thickness-1," ")+c+(c*i).ljust(thickness-1," "))

for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).rjust(thickness*6))
    
#Middle Belt
for i in range((thickness+1)//2):
    print((c*thickness*5).center(thickness*6))
    
#Bottom Pillars
for i in range(thickness+1):
    print((c*thickness).center(thickness*2)+(c*thickness).rjust(thickness*6))
    
#Bottom Cone
for i in range(thickness):
    print(((c*(thickness-i-1)).rjust(thickness," ")+c+(c*(thickness-i-1)).center(thickness," ")).ljust(thickness*6," "))

In [ ]:
import textwrap

def wrap(string, max_width):
        wrapper = textwrap.TextWrapper(width=max_width) 
  
        g = wrapper.fill(text=string) 
  
        return g
            

        
            
if __name__ == '__main__':
    string, max_width = input(), int(input())
    result = wrap(string, max_width)
    print(result)

In [ ]:

from collections import OrderedDict
def merge_the_tools(string, k):
        l=[]
        a=int(len(string)/k)
        if 1<=len(string)<=10**4:
            if 1<=k<=len(string):
                l.append(string.split(k))
                
                for j in l:
                    result = "".join(OrderedDict.fromkeys(j))
            
                    print(result)
if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

In [ ]:
quant=input()
result="".join(quant)
print(result)

In [1]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

In [55]:
def answer_one():
    Points = 3*df['Gold.2'] + 2*df['Silver.2'] + 1*df['Bronze.2']
    return Points
    
    return Points

    
answer_one()

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Length: 146, dtype: int64

In [56]:
def answer_one():   
    l=[]
    l.append(df[df['Gold']==max(df['Gold'])].index.values)
    return l[0][0]
answer_one()

'United States'

In [57]:
def answer_two():
    l=[]
    df['Most Medals']=df['Gold']-df['Gold.1']
    l.append(df[df['Most Medals']==max(df['Most Medals'])].index.values)    
    return l[0][0] 
answer_two()

'United States'

In [58]:
def answer_three():
    g = df[(df['Gold']>0) & (df['Gold.1']>0)]
    diff = (abs(g['Gold']-g['Gold.1'])/g['Gold.2'])
    return diff.idxmax()

answer_three()

'Bulgaria'

In [59]:
def answer_four():
    Points = 3*df['Gold.2'] + 2*df['Silver.2'] + 1*df['Bronze.2']
    return Points
    
answer_four()

Afghanistan                           2
Algeria                              27
Argentina                           130
Armenia                              16
Australasia                          22
                                   ...
Yugoslavia                          171
Independent Olympic Participants      4
Zambia                                3
Zimbabwe                             18
Mixed team                           38
Length: 146, dtype: int64

In [ ]:
def answer_five():
    b=census_df[census_df['SUMLEV']==50]
    
    x = b.groupby('STNAME').count()['SUMLEV']
    a = x.idxmax()
    return a
answer_five()

In [2]:
def answer_eight():
    counties_df=census_df[census_df['SUMLEV']==50]
    b=counties_df[(counties_df['Region']==1) | (counties_df['Region']==2)]
    c=b[(b['CTYNAME'][0]=='Washington') & (b['POPESTIMATE2015']>b['POPESTIMATE2014'])]
    return c
answer_eight()

NameError: name 'census_df' is not defined